{% extends 'layout.html' %}

{% block pageTitle %}
    Create Invoice to {{consumer['name']}} {{consumer['surname']}}
{% endblock pageTitle %}

{% block content %}
{% from "includes/_formhelpers.html" import render_field %}
            
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Charge</th>
            <th scope="col">Make Out</th>
          </tr>
        </thead>
        <tbody>            
              <tr>       
                <th scope="row">1</th>
                <td>{{consumer['name']}}</td>
                <td>{{consumer['surname']}}</td>
                <td>{{charge}}</td>
                <td>
                  <form method="post" action="{{ url_for('createInvoice', consumerId=consumer['id']) }}">
                    <button type="submit" class="btn btn-primary" title="Make Out Invoice">Make Out</button>
                  </form>
                </td>

              </tr>
             
        </tbody>
      </table>
      <br>
{% endblock content %}