{% extends 'layout.html' %}

{% block pageTitle %}
    Create Invoice to {{consumer['name']}} {{consumer['surname']}}
{% endblock pageTitle %}

{% block content %}
{% from "includes/_formhelpers.html" import render_field %}
            

<form method="post" action="{{ url_for('createInvoice', consumerId=consumer['id']) }}">
  <dl>
    {{ render_field(form.name, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.surname, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.billnum, disabled= 'disabled', class="form-control") }}
    {{  form.billnumhidden }}
    {{ render_field(form.invoiceDate, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.deadline, class="form-control") }}
    {{ render_field(form.charge, class="form-control") }}
  </dl>
  <br>

  <button type="submit" class="btn btn-primary" style="float: right;">Create Invoice</button>
</form>



{% endblock content %}