{% extends 'layout.html' %}

{% block pageTitle %}
    Invoices of  {{consumer['name']}} {{consumer['surname']}}
{% endblock pageTitle %}

{% block content %}
{% from "includes/_formhelpers.html" import render_field %}

    {% if (invoices |length) == 0 %}
        <div class="card bg-light text-dark">
          <div class="card-body">This consumer has no bill currently!</div>
        </div>
    {% else %}

    <input class="form-control mr-sm-2 col-2" style="float: right;" type="text" id="searchInput" placeholder="Search">
    <br> 
    <br>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Invoice Date</th>
              <th scope="col">Deadline</th>
              <th scope="col">Charge</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody id="dataTable">
            
                {% for index in range(invoices |length) %}              
                <tr>       
                  <th scope="row">{{index+1}}</th>
                  <td>{{invoices[index]['invoicedate']| strftime}} </td>
                  <td>{{invoices[index]['deadline']| strftime}} </td>
                  <td>{{invoices[index]['charge']}} </td>
      
                  <td>
                    <div style="float:left">
                      <a href="/invoice/{{invoices[index].get('id')}}">
                        <button type="button" class="btn btn-warning">
                            Edit Invoice
                        </button>
                      </a>
                    </div>
                  </td>

                  <td>
                      <div style="float:left">
                        <form method="POST" action="{{ url_for('deleteInvoice', billId=invoices[index]['id'], consumerId=invoices[index]['consumerid']) }}">
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                        
                      </div>
                  </td>

                </tr>
                {% endfor %}
              
          </tbody>
        </table>
        <br>
    {% endif %}

{% endblock content %}

{% block script %}

<script type="text/javascript">
      $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        console.log(value);
        $("#dataTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
</script>
    
{% endblock script %}