{% extends 'layout.html' %}

{% block pageTitle %}
    Make Out Invoice
{% endblock pageTitle %}

{% block content %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="head">

    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addStaffModal">
      Make Out Invoice to All
    </button>
</div>
            
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">City</th>
          </tr>
        </thead>
        <tbody>
          
              {% for index in range(consumers |length) %}              
              <tr>       
                <th scope="row">{{index+1}}</th>
                <td>{{consumers[index].get('name')}}</td>
                <td>{{consumers[index].get('surname')}}</td>
                <td>Istanbul</td>
                <td>
                <div style="float:left">
                  <a href="/createInvoice/{{consumers[index].get("id")}}">
                    <button type="button" class="btn btn-primary" id="editButton" >
                        Make Out Invoice
                    </button>
                  </a>
                </div>
                
                </td>
              </tr>
              {% endfor %}
             
        </tbody>
      </table>
      <br>
{% endblock content %}