{% extends "layout.html" %}
{% block title %}My Profile{% endblock %}

{% block pageTitle %}

    <form method="POST" action="{{ url_for('companyDelete') }}">
      <button style="float: right;" type="submit" id="deleteButton" class="btn btn-danger">Delete My Account</button>
    </form>
    My Profile
{% endblock pageTitle %}

{% block content%}

{% from "includes/_formhelpers.html" import render_field %}

<img src="/static/vodafone.png" alt="Girl in a jacket">

<form method="post">
  <dl>
    {{ render_field(form.username, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.name, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.email, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.servicetype, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.city, disabled= 'disabled', class="form-control") }}
    
  </dl>
  <br>
  <button type="submit" class="btn btn-primary" style="float: right;" >Save Changes</button>
  <button type="button" id="editButton" style="float: right; position: relative; right: 15px;" class="btn btn-primary">Edit My Profile</button>
  
</form>

{% endblock %}  

{% block script %}

<script type="text/javascript">
    $("#editButton").click(function()
    {
        $( ".form-control" ).prop( "disabled", false );
    });
</script>
{% endblock script %}