{% extends "layout.html" %}
{% block title %}My Profile{% endblock %}

{% block pageTitle %}

    <form method="POST" action="{{ url_for('companyDelete') }}">
      <button style="float: right;" type="submit" id="deleteButton" class="btn btn-danger">Delete My Account</button>
    </form>
    My Profile
{% endblock pageTitle %}

{% block content%}

{% from "includes/_formhelpers.html" import render_field %}

<img id="ItemPreview" width="450px" height="300px" src="data:image/png;base64,{{logo}}">
 
<br><br>

<form method="post">
  <dl>
    {{ render_field(form.username, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.name, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.taxnumber, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.email, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.city, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.servicetype, disabled= 'disabled') }}
  </dl>
  <button type="button" id="editButton" class="btn btn-primary">Edit My Profile</button>
  <button type="submit" class="btn btn-primary" style="position: relative; left: 15px;" >Save Changes</button>
  
  <br>
</form>
<br>
<br>
{% endblock %}  

{% block script %}

<script type="text/javascript">
    $("#editButton").click(function()
    {
        $( ".form-control" ).prop( "disabled", false );
    });

  
</script>
{% endblock script %}