{% extends "layout.html" %}
{% block title %}My Profile{% endblock %}

{% block pageTitle %}
    My Profile
{% endblock pageTitle %}

{% block content%}

{% from "includes/_formhelpers.html" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.username, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.name, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.email, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.servicetype, disabled= 'disabled', class="form-control") }}
    {{ render_field(form.city, disabled= 'disabled', class="form-control") }}
  </dl>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<button type="editButton" class="btn btn-primary">Edit My Profile</button>

<form method="POST" action="{{ url_for('companyDelete') }}">
  <button style="float: right;" type="submit" id="deleteButton" class="btn btn-danger">Delete My Profile</button>
</form>

{% endblock %}  

{% block script %}

<script type="text/javascript">
    $("#editButton").click(function()
    {
        $( ".form-control" ).prop( "disabled", false );
    });
</script>
{% endblock script %}