{% extends 'layout.html' %}

{% block pageTitle %}
    Make Out Invoice
    
{% endblock pageTitle %}

{% block content %}
{% from "includes/_formhelpers.html" import render_field %}

    <input class="form-control mr-sm-2 col-2" style="float: right;" type="text" id="searchInput" placeholder="Search">
    <br> 
    <br>
      
      <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">City</th>
            <th scope="col">View Invoices</th>
            <th scope="col">Create Invoice</th>
          </tr>
        </thead>
        <tbody id="dataTable">
          
              {% for index in range(consumers |length) %}              
              <tr>       
                <td scope="row">{{index+1}}</th>
                <td>{{consumers[index].get('name')}}</td>
                <td>{{consumers[index].get('surname')}}</td>
                <td>{{city['name']}}</td>
                
                <td>
                  <div style="float:left">
                    <a href="/createInvoice/{{consumers[index].get("id")}}">
                      <button type="button" class="btn btn-primary">
                          Make Out Invoice
                      </button>
                    </a>
                  </div>
                </td>

                <td>
                  <div style="float:left">
                    <a href="/invoicesOfConsumer/{{consumers[index].get("id")}}">
                      <button type="button" class="btn btn-warning">
                          View Invoices
                      </button>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
             
        </tbody>
      </table>
      <br>
{% endblock content %}

{% block script %}

<script type="text/javascript">
      $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        console.log(value);
        $("#dataTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
</script>
    
{% endblock script %}