{% extends "layout.html" %}
{% block title %}Donation Bills{% endblock %}

{% block content%}

    <div class = "container">
        <br>
        <br>
        <h1 class = "is-size-2">Donation Bills</h1><br>
        <div class = "card">

            <div class = "card-content">
                <div class = "media">
                    <div class = "media-left">
                        <div class="select is-rounded">
                            <select>
                                <option>City</option>
                                <option>İstanbul</option>
                                <option>Ankara</option>
                                <option>İzmir</option>
                                <option>Bursa</option>
                                <option>Antalya</option>
                            </select>
                        </div>
                    </div>
                    <div class = "media-content">
                        <div class="select is-rounded">
                            <select>
                                <option>Service Type</option>
                                <option>Water</option>
                                <option>Electricity</option>
                                <option>Interner</option>
                            </select>
                        </div>

                        <div class="select is-rounded">
                            <select>
                                <option>Start Date</option>

                            </select>
                        </div>
                    </div>
                    <div class = "media-right">
                        <div class="select is-rounded">
                            <select>
                                <option>End Date</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns are-centered" style="padding: 100px;">
        <div class="column" >
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title align-center">
                        Waiting Bills
                    </p>
                </header>

                <div class="card-content" style="alignment: center;">
                    <div class="content" style="alignment: center;">
                        <h2>1396</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Total Donate Amount
                    </p>

                </header>
                <div class="card-content">
                    <div class="content" style="alignment: center;">
                        <h2>25,569,684 TL</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-centered" style="flex: 1; ">
    <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width: 80%;">
        <tr style="font-weight: bold; text-align: center;">
            <th>Num</th>
            <th>Company</th>
            <th>Service Type</th>
            <th>Charge</th>
            <th>Donate</th>
        </tr>

        {% for billNum in range(1,7)  %}
            <tr style="text-align: center;">
                <td>{{ billNum }}</td>
                <td>Company X</td>
                <td>Electricity</td>
                <td>95.36 </td>
                <td> <button class="button is-primary is-small is-rounded"> Donate </button></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}