{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content%}

<section class="hero is-primary" style="height: 150px;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                BILLPAY
            </h1>
            <h2 class="subtitle">
                You can pay all of your bills with just a few clicks!
            </h2>
        </div>
    </div>
</section>

<div class="columns is-multiline is-mobile">
    <div class="column is-half">
        <section style="padding: 30px;">
            <div class="card" style="font-weight: bold;">
                <header class="card-header ">
                    <h1 class="card-header-title">
                        Consumer
                    </h1>
                </header>

                <div class="card-content">
                    <div class="content">
                        <h1>1,253,895</h1>
                    </div>
                </div>

            </div>

            <div class="card " style="padding-top: 15px;">
                <header class="card-header">
                    <p class="card-header-title">
                        City
                    </p>

                </header>
                <div class="card-content">
                    <div class="content">
                        <h1>73</h1>
                    </div>
                </div>

            </div>

            <div class="card " style="padding-top: 15px;">
                <header class="card-header">
                    <p class="card-header-title">
                        Company
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        <h1>253</h1>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <div class="column is-half" style="margin-top: 30px;">
        <div class="card">
            <div class="card-content">
                <div class="hero-body">
                    <div class="columns is-centered">
                        <div class="column ">
                            <div class="notification is-light">
                                <div class="control has-icons-left has-icons-right">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}