
<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary ">
    <a class="navbar-brand" href="/">BILLPAY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      
    {% if session['role'] == "consumer" %}
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for("myBills")}}">My Bills</a>
            </li>
        </ul>

        <ul class="navbar-nav  ">
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for("donationBills")}}">Donation Bills</a>
            </li>
        </ul>

        <ul class="navbar-nav ">
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for("bankAccount")}}">Bank Accounts</a>
            </li>
        </ul>

        <ul class="navbar-nav ">
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for("outages")}}">Outages</a>
            </li>
        </ul>
      {% endif %}

      {% if session['role'] == "company" %}
        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for("viewConsumers")}}">Consumers</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for("bankAccount")}}">Bank Accounts</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item active">
            <a class="nav-link" href="{{url_for("createOutage")}}">Outages</a>
            </li>
        </ul>
      {% endif %}
    </div>

      <form class="form-inline mt-2 mt-md-0">
        <ul class="navbar-nav mx-auto">
            
            {% if session['loggedin']%}
                <li class="nav-item active">
                    <a href="{{'/consumer/profile' if session['role'] == 'consumer' else '/company/profile'}}" class="nav-link" role="button">{{session['id']}}</a>
                </li>

                <li class="nav-item active">
                    <a href="/logout" class="nav-link" role="button">Log Out</a>
                </li>
            {% else %}
                
                <li class="nav-item dropdown">
                    <a class="nav-item active nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sign Up
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/company/register" role="button">as Company</a>
                        <a class="dropdown-item" href="/consumer/register" role="button">as Consumer</a>
                    </div>
                  </li>

                  <li class="nav-item active">
                    <a href="/login" class="nav-link" role="button">Log In</a>
                </li>
                
            {% endif %}
        </ul>       
      </form>
    </div>
</nav>