{% extends "layout.html" %}
{% block title %}Donation Bills{% endblock %}

{% block pageTitle %}
    Donation Bills
{% endblock pageTitle %}

{% block content%}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Company Name</th>
        <th scope="col">Service Type</th>
        <th scope="col">Charge</th>
        <th scope="col">Deadline</th>
        <th>Pay</th>
      </tr>
    </thead>
    <tbody>
      {% for index in range(donatedBills |length)%}
      <tr>
        <td scope="row">{{index+1}}</td>
        <td>{{donatedBills[index]['companyname']}}</td>
        <td>{{donatedBills[index]['servicetype']}}</td>
        <td>{{donatedBills[index]['charge']}}</td>
        <td> {{datetime.strptime(donatedBills[index]['deadline'], "%Y-%m-%d")}}</td>
        <td>
          <form method="post" action="{{ url_for('myBills', billId=donatedBills[index]['id']) }}">
            <button type="submit" class="btn btn-primary" title="Pay!">Pay</button>
          </form>
        </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}