{% extends "layout.html" %}
{% block title %}My Bills{% endblock %}

{% block pageTitle %}
    My Bills
{% endblock pageTitle %}

{% block content%}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Company Name</th>
        <th scope="col">Service Type</th>
        <th scope="col">Charge</th>
        <th>Pay</th>
        <th>Share</th>
      </tr>
    </thead>
    <tbody>
      {% for bill in bills %}
      <tr>
        <th scope="row">1</th>
        <td>BEDAŞ</td>
        <td>{{bill['servicetype']}}</td>
        <td>{{bill['charge']}}</td>
        <td>
          <form method="post" action="{{ url_for('myBills', billId=bill['id']) }}">
            <button type="submit" class="btn btn-primary" title="Pay!">Pay</button>
          </form>
        </td>
        <td><button type="button" class="btn btn-warning" id="editButton" > Share! </button></td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}