{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}

{% block pageTitle %}
    Sign Up
{% endblock pageTitle %}

{% block content%}

{% from "includes/_formhelpers.html" import render_field %}
<form method="post">
  <dl>
    {{ render_field(form.username, class="form-control") }}
    {{ render_field(form.name, class="form-control") }}
    {{ render_field(form.surname, class="form-control") }}
    {{ render_field(form.identitynum, class="form-control") }}
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
    {{ render_field(form.confirm, class="form-control") }}
    {{ render_field(form.city, class="form-control") }}
    {{ render_field(form.address, class="form-control") }}
    <br>
    {{ render_field(form.check, class="form-check-label") }}
  </dl>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}